<div class="mb-5">
  <div class="col-12 col-md-8 mb-3 m-auto px-2">
    <h1 class="text-center">Good Night</h1>
    <h4 class="mb-3 text-center">- Wide-Screen Pure CSS Animation -</h4>
    <img src="./assets/images/good-night-animation.png" alt="good night animation image" class="w-100">
  </div>

  <div class="card card-body col-12 col-md-8 m-auto">
    <iframe height="500" style="width: 100%;"
            title="Good Night Cat CSS Drawing &amp; Animation"
            src="https://codepen.io/mrs-cp/embed/preview/mdqBdzx?default-tab=result&theme-id=dark"
            loading="lazy" allowtransparency="true">
      See the Pen <a href="https://codepen.io/mrs-cp/pen/mdqBdzx">
      Good Night Cat CSS Drawing &amp; Animation</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">@mrs-cp</a>)
      on <a href="https://codepen.io">CodePen</a>.
    </iframe>
  </div>
</div>
