<div class="d-flex justify-content-center">
  <div class="page two col-12 col-md-7"></div>
</div>

<nav aria-label="breadcrumb" class="d-flex justify-content-center my-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<div class="d-flex flex-column align-items-center mb-3">
  <div class="profile-img mb-5"></div>
  <h1 class="text-center">About</h1>
  <div class="col-12 col-md-7 mt-4 text-center px-2">
    <span>cookies+cats+code (trying to get the ‘angular‘ as a webdev while .. u know, life)</span>
    <div class="my-2">"There should always be music. For whatever you do“ - Absolute Giganten</div>
  </div>
  <div class="card col-11 col-md-6 mt-4">
    <div class="card-header text-black">
      <i class="fa-solid fa-house-laptop me-2"></i> Work Experience
    </div>
    <div class="card-body">
      <ul class="cv">
        <li class="cv-item d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">06/2019 - today</span>
          <div>
            <span class="item-title">UI/UX Developer</span><span class="text-muted text-uppercase"> - N4 group, leipzig</span>
          </div>
        </li>
        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">01/2019 - 05/2019</span>
          <div>
            <span class="item-title">Junior Web-Developer</span><span class="text-muted text-uppercase"> - VUB, Leipzig</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">09/2009 - 05/2018</span>
          <div>
            <span class="item-title">Design Creative (digital & print) Erasmus+Programme/ Project Coordinator Erasmus+Traineeships</span>
            <span class="text-muted text-uppercase"> - LEIPZIG UNIVERSITY</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">04/2010 - 05/2012</span>
          <div>
            <span class="item-title">Co-Founder Indie-Label/Head of Marketing/Sales/A&R</span>
            <span class="text-muted text-uppercase"> - PETITE: UNIQUE	RECORDS, Leipzig</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">03/2009 - 10/2009</span>
          <div>
            <span class="item-title">Freelance PR-Assistant</span>
            <span class="text-muted text-uppercase"> - SERIOUSLY GROOVY/COVERT PR, London</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">09/2005</span>
          <div>
            <span class="item-title">Intern Music Publishing</span>
            <span class="text-muted text-uppercase"> - TJ	MUSICSERVICE	GMBH, Hamburg</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">09/2004 - 03/2005</span>
          <div>
            <span class="item-title">Intern Music PR/A&R/Administration (Scholarship holder Leonardo da Vinci)</span>
            <span class="text-muted text-uppercase"> - SERIOUSLY GROOVY, London</span>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="card col-11 col-md-6 mt-4">
    <div class="card-header text-black">
      <i class="fa-solid fa-graduation-cap me-2"></i> Education
    </div>
    <div class="card-body">
      <ul class="cv">
        <li class="cv-item d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">06/2018 - 01/2019</span>
          <div>
            <span class="item-title">ILS Certified Web-Developer, Final Grade 1,0</span>
            <span class="text-muted text-uppercase"> - ILS</span>
          </div>
        </li>
        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">04/2018 - 05/2018</span>
          <div>
            <span class="item-title">JavaScript for Designers, Advanced CSS + JavaScript</span>
            <span class="text-muted text-uppercase"> - SUPERHI.COM</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">07/2009</span>
          <div>
            <span class="item-title">Magister (MA) English Studies, Final Grade 1.0</span>
            <span class="text-muted text-uppercase"> - LEIPZIG UNIVERSITY</span>
          </div>
        </li>

        <li class="cv-item  d-flex flex-column">
          <span class="text-muted text-uppercase mb-2">07/2009</span>
          <div>
            <span class="item-title">Magister (MA) Japanese Studies, Final Grade 1.8</span>
            <span class="text-muted text-uppercase"> - LEIPZIG UNIVERSITY</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


