<div class="d-flex justify-content-center">
  <div class="page three col-12 col-md-7"></div>
</div>

<nav aria-label="breadcrumb" class="d-flex justify-content-center my-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Work/Animations</li>
  </ol>
</nav>

<div class="my-4">
  <log-cat-animation></log-cat-animation>
  <log-tram-network-animation></log-tram-network-animation>
  <log-tram-animation></log-tram-animation>
  <log-houdini-animation></log-houdini-animation>
</div>

