<div class="mb-12">
  <div class="w-full md:w-2/3 mb-4 m-auto px-2">
    <h1 class="text-center">Leipzig Tram Network</h1>
    <h4 class="mb-4 text-center">- Animated with anime.js -</h4>
    <img src="./assets/images/tram-network.png" alt="leipzig tram network" class="w-full" height="1540" width="2318">
  </div>

  <div class="flex flex-col min-w-0 bg-white border border-bs-card-border rounded-md p-4 w-full md:w-2/3 m-auto">
    <iframe height="600" style="width: 100%;" title="Animated Leipzig Tram Network Map - AnimeJs" src="https://codepen.io/mrs-cp/embed/preview/PoOEjWb?default-tab=result&theme-id=dark"
            loading="lazy">
      See the Pen <a href="https://codepen.io/mrs-cp/pen/PoOEjWb">
      Animated Leipzig Tram Network Map - AnimeJs</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">&#64;mrs-cp</a>)
      on <a href="https://codepen.io">CodePen</a>.
    </iframe>
  </div>
</div>
