<div class="mb-5">
  <div class="col-12 col-md-8 mb-3 m-auto px-2">
    <h1 class="text-center">Leipzig Tram Network</h1>
    <h4 class="mb-3 text-center">- Animated with anime.js -</h4>
    <img src="./assets/images/tram-network.png" alt="leipzig tram network image" class="w-100">
  </div>

  <div class="card card-body col-12 col-md-8 m-auto">
    <iframe height="600" style="width: 100%;" title="Animated Leipzig Tram Network Map - AnimeJs" src="https://codepen.io/mrs-cp/embed/preview/PoOEjWb?default-tab=result&theme-id=dark"
            loading="lazy" allowtransparency="true">
      See the Pen <a href="https://codepen.io/mrs-cp/pen/PoOEjWb">
      Animated Leipzig Tram Network Map - AnimeJs</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">@mrs-cp</a>)
      on <a href="https://codepen.io">CodePen</a>.
    </iframe>
  </div>
</div>
