<div class="col-12 col-md-8 mb-3 m-auto px-2">
  <h1 class="text-center">Tram Animation</h1>
  <h4 class="mb-3 text-center">- Animated with anime.js -</h4>
  <img src="./assets/images/tram-animation.png" alt="tram animation image" class="w-100">
</div>
<div class="card card-body col-12 col-md-8 m-auto mb-5">
  <iframe height="400" style="width: 100%;" title="tram animation with animejs" src="https://codepen.io/mrs-cp/embed/GROyEON?default-tab=result&theme-id=dark"
          loading="lazy" allowtransparency="true">
    See the Pen <a href="https://codepen.io/mrs-cp/pen/GROyEON">
    Untitled</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">&#64;mrs-cp</a>)
    on <a href="https://codepen.io">CodePen</a>.
  </iframe>
</div>
