<div class="w-full md:w-2/3 mb-4 m-auto px-2">
  <h1 class="text-center">Tram Animation</h1>
  <h4 class="mb-4 text-center">- Animated with anime.js -</h4>
  <img src="./assets/images/tram-animation.png" alt="tram animation" class="w-full">
</div>
<div class="flex flex-col min-w-0 bg-white border border-bs-card-border rounded-[0.375rem] p-4 w-full md:w-2/3 m-auto mb-12">
  <iframe height="400" style="width: 100%;" title="tram animation with animejs" src="https://codepen.io/mrs-cp/embed/GROyEON?default-tab=result&theme-id=dark"
          loading="lazy">
    See the Pen <a href="https://codepen.io/mrs-cp/pen/GROyEON">
    Untitled</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">&#64;mrs-cp</a>)
    on <a href="https://codepen.io">CodePen</a>.
  </iframe>
</div>
