<div class="flex items-center justify-center w-full my-12">
  <div class="w-2/3 md:w-1/2">
    <div class="flex flex-col min-w-0 bg-white border border-bs-card-border rounded-[0.375rem] p-4">
      <div class="menu-grid md:flex md:flex-col lg:grid">
        <div class="yellow mb-4 md:mb-0 flex justify-center items-center"
             routerLink="/about" type="button">
          <i class="fa-solid fa-circle-user fa-2x text-white"></i>
        </div>
        <div class="blue mb-4 md:mb-0 flex justify-center items-center" routerLink="/work"
             type="button">
          <i class="fa-solid fa-palette fa-2x text-white"></i>
        </div>
        <div class="pink mb-4 md:mb-0 flex justify-center items-center" routerLink="/tech-stack"
             type="button">
          <i class="fa-solid fa-list fa-2x text-white"></i>
        </div>
        <div class="grey mb-4 md:mb-0 flex justify-center items-center" routerLink="/links"
             type="button">
          <i class="fa-solid fa-link fa-2x text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
