<div class="d-flex justify-content-center">
  <div class="page five col-12 col-md-7"></div>
</div>

<nav aria-label="breadcrumb" class="d-flex justify-content-center my-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Links</li>
  </ol>
</nav>

<h1 class="text-center">Links</h1>

<div class="card card-body col-4 m-auto mt-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <i class="fa-brands fa-github me-2"></i>
      <a href="https://github.com/mrs-cp"
         target="_blank" rel="noopener noreferrer"
         class="text-decoration-none">GitHub</a>
    </li>
    <li class="list-group-item">
      <i class="fa-brands fa-codepen me-2"></i>
      <a href="https://codepen.io/mrs-cp"
         target="_blank" rel="noopener noreferrer"
         class="text-decoration-none">CodePen</a>
    </li>
    <li class="list-group-item">
      <i class="fa-brands fa-twitter me-2"></i>
      <a href="https://twitter.com/mrscp_"
         target="_blank" rel="noopener noreferrer"
         class="text-decoration-none">Twitter</a>
    </li>
  </ul>
</div>
