<div class="mb-5">
  <div class="col-12 col-md-8 mb-3 m-auto">
    <h1 class="text-center">Colour Blend</h1>
    <h4 class="mb-3 text-center">- Animation with CSS-Houdini -</h4>
    <img src="./assets/images/houdini.png" alt="houdini animation image" class="w-100">
  </div>

  <div class="card card-body col-12 col-md-8 m-auto">
    <iframe height="500" style="width: 100%;" title="CSS Coudini Colour Blend Animation"
            src="https://codepen.io/mrs-cp/embed/preview/eYeyrOa?default-tab=result&theme-id=dark"
            loading="lazy" allowtransparency="true">
      See the Pen <a href="https://codepen.io/mrs-cp/pen/eYeyrOa">
      Untitled</a> by mrs-cp (<a href="https://codepen.io/mrs-cp">&#64;mrs-cp</a>)
      on <a href="https://codepen.io">CodePen</a>.
    </iframe>
  </div>
</div>
